@{
    ViewBag.Title = "Contact";
}

<body class="Home-Contact--contact-body">
    <div class="Home-Contact--banner">
        <h1>CONTACT US</h1>
    </div><br />

    <div class="Home-Contact--header">
        <h4>GET IN TOUCH</h4>
        <hr>
    </div>

    <div class="Home-Contact--row">
        <div class="Home-Contact--column1">
            <form class="Home-Contact--form">
                <label for="name">First & Last Name:</label><br />
                <input type="text" id="name" name="name"><br /><br />
                <label for="email">Email Address:</label><br />
                <input type="text" id="email" name="email"><br /><br />
                <label for="subject">Subject:</label><br />
                <input type="text" id="subject" name="subject"><br /><br />
                <label for="message">Message:</label><br />
                <input type="text" id="message" name="message" style="height:150px"><br /><br />
                <button class="Home-Contact--submitbtn" style="width:80%">Submit</button>
            </form>
        </div>

        <div class="Home-Contact--column2">
            <div class="donate">
                <h4>DONATE</h4>
                <p>
                    We've got a Patreon account!<br />
                    Help support live theater in<br />
                    Portland, OR by becoming a<br />
                    Patreon today!
                </p>
                <button class="Home-Contact--donatebtn" style="width:120px">Donate</button>
            </div><br />
            <div class="Home-Contact--volunteer">
                <h4>VOLUNTEER</h4>
                <p>
                    Larem lpsum dolar sit amet,<br />
                    consecletur odipiscing elif, sed<br />
                    do elusmod tempor incididunt ut<br />
                    lavore et dolore magna.
                </p>
                <button class="Home-Contact--volunteerbtn" style="width:120px">Volunteer</button>
            </div>
        </div>
    </div>
</body>
