@{
  ViewBag.Title = "Theatre Vertigo";
}

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

<div>
   <!-- Previously included content, commenting out for revision
  <h1 class="CMS-text-white CMS-text-bigger">Welcome to Theatre Vertigo</h1>
  <p class="text-xl-center">@Html.ActionLink("About Theatre Vertigo", "About", new { }, new { @class = "CMS-text-bigger" })</p>
   -->

    <!-- Logo -->
    <div class="Home-Index--Logo">
        <img src="~/Content/images/TheatreLogo.png" />
    </div>
    
    <!-- Body Content -->
    <div class="row">

        <!-- Col 1 Content -->
        <div class="col-8">
            <!-- Spotlight -->
            <p class="Home-Index--Titles">SPOTLIGHT</p>
            <hr class="Home-Index--HR" />

            <img class="Home-Index--SpotlightImg" src="~/Content/images/DollsHouse.png" />
            <br />
            <img class="Home-Index--SpotlightImg" src="~/Content/images/Tempest.png" />

            <!-- Land Ack. -->
            <p class="Home-Index--Titles">LAND ACKNOWLEDGEMENT</p>
            <hr class="Home-Index--HR" />
            <p> Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala, 
                Cascades, Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other indigenous peoples.
                <br /><br />
                <strong> We are on stolen land.</strong>
                <br /><br />
                Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators, partners and sponsors support the our regions Indigenous Nations and communities.
                <br /><br />
                One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share is to build bridges between our arts community and local Nations.
            </p>
        </div>

        <!-- Col 2 Content -->
        <div class="col">
            <p class="Home-Index--Titles">DONATIONS</p>
            <hr class="Home-Index--HR" />

            <!-- Donation Button -->
            <center style="padding: 15px 15px 45px;">
                <a href="https://app.arts-people.com/index.php?donation=verti" target="_blank" class="Home-Index--DonateBtn btn btn-lg">Click to Support</a>
            </center>

            <!-- Sponsors Section -->
            <p class="Home-Index--Titles">SPONSORS</p>
            <hr class="Home-Index--HR" />

            <img class="Home-Index--SponsorImg" src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
            <img class="Home-Index--SponsorImg" src="~/Content/images/Sponsors/LogoRoundColor.png" />
            <img class="Home-Index--SponsorImg" src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
            <img class="Home-Index--SponsorImg" src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
            <img class="Home-Index--SponsorImg" src="~/Content/images/Sponsors/RACC.png" />

            <!-- NAYA Link -->
            <center style="position:absolute; bottom: 0;">
                <a href="https://nayapdx.org/"><img src="~/Content/images/NAYAFamilyCenter.jpg" /></a>
                <p>Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</p>
            </center>
        </div>

    </div>


  @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
  @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@


</div>

